{% extends 'base.html' %}

{% load widget_tweaks %}


{% block title %} Pesquisar Viagens {% endblock %}
{% block title_page %} Minha Viagem{% endblock %}


    {% block content %}
    <section class="container col-8">
    <form action="{% url 'result' %}" method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {{field|add_class:'form-control'}}
        </div>
        {% if field.errors  %}
            <section class="alert alert-danger" role="alert">{{field.errors}}</section>
        {% endif %}
        {% endfor %}

        {% for field in pessoa_form.visible_fields %}
        <div class=" form-group">
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {{field|add_class:'form-control'}}        
        </div>
        {% endfor %}
    <input type="submit" value="Ok" class="btn btn-success">
    </form>
    </section>
    {% endblock %}














    ,

    <section class="container mt-2">
        <form action="{% url 'result' %}" method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Ok" class="btn btn-success btn-sm">
        </form>
    </section>